.idea/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
nccic_license.txt
*.key
nciic.cer
*.gradle
gradle
gradlew*
rebel.xml

**/src/main/resources/log4j.properties
**/src/test/resources/log4j.properties

**/webapp/Scripts/statistics/**
**/webapp/Content-dist
**/webapp/Views-dist
**/webapp/Images-dist
**/webapp/Scripts-dist
**/webapp/build
**/webapp/manifest.json
**/webapp/node_modules

